.header{
    background-color: rgba(120, 115, 115, 0.634);
    height: 30px;
}
.sidebarleft{
    margin-top: 10px;
    width: 80%;
}
.sidebutton{
    margin-top: 10px;
    width: 30%;
    background-color: rgba(120, 115, 115, 0.634);
}
.sidebartop{
    background-color: rgba(120, 115, 115, 0.634);
    height: 10vh;
}
.sidebarcenter{
    background-color: rgba(120, 115, 115, 0.634);
    margin-top: 10px;
    height: 50vh;
}
.sidebutton{
    background-color:  rgba(120, 115, 115, 0.634);
    margin-top: 10px;
    width: 20%;
    height: 10vh;
}

.sidebar{
    display: flex;
  
}
.sidebaright{
    margin-left: 10px;
    width: 20%;

}
.srt{
    background-color: rgba(120, 115, 115, 0.634);
    height: 20vh;
}
.srt{
    background-color: rgba(120, 115, 115, 0.634);
    height: 20vh;
    margin-top: 10px;
}
.footer{
    margin-top: 10px;
    width: 100%;
    background-color: rgba(120, 115, 115, 0.634);
   height: 100px;
  
}
