.menu{
    display: flex;
    justify-content: space-between;
}
.left{
    width: 15%;
    background-color: rgba(120, 115, 115, 0.634);
}
.right{
    width: 50%;
    background-color: rgba(120, 115, 115, 0.634);
}
.sideleft{
    width: 30%;
   
    margin-right: 10px;
}
.top{
    background-color:rgba(120, 115, 115, 0.634);
    height: 20vh;
}
.button{
    background-color:rgba(120, 115, 115, 0.634);
    height: 10vh;
    margin-top: 10px;
}
.sideright{
    height: 50vh;
    width: 70%;
    background-color:rgba(120, 115, 115, 0.634);
  
}
.side{
    display: flex;
    margin-top: 10px;
}

.footer{
    background-color:rgba(120, 115, 115, 0.634); ;
    height: 15vh;
    margin-top: 10px;
}